<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Home</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['/list-training']" mdbWavesEffect>Training</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['/meeting/list-meeting']" mdbWavesEffect>Meeting</a>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
